@font-face {
    font-family: "ginger";
    font-weight: normal;
    src: url('./fonts/Ginger/F37Ginger-Regular.otf') format("opentype");
}

@font-face {
    font-family: "ginger";
    font-weight: bold;
    src: url('./fonts/Ginger/F37Ginger-Bold.otf') format("opentype");
}

@font-face {
    font-family: "ginger";
    font-weight: italic;
    src: url('./fonts/Ginger/F37Ginger-Italic.otf') format("opentype");
}

@font-face {
    font-family: "independant";
    font-weight: normal;
    src: url('./fonts/Independent%20Headline/INDEPENDENT_Headline-Medium.otf') format("opentype");
}

@keyframes bouncing {
    0% {
        transform: translate(0) rotate(45deg);
    }

    50% {
        transform: translate(0, 8px) rotate(45deg);
    }

    100% {
        transform: translate(0) rotate(45deg);
    }
}


/*  font-family: "independant"; */
/*  font-family: "ginger"; */

:root {
    --light: #F2F8FF;
    --dark: #000514;
    --blue1: #B5CDE5;
    --blue2: #5676A3;
    --blue3: #3066B3;
    --blue4: #083166;
    --light-90: #F2F8FF90;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
  }

body{
    overflow-x: hidden;
}

.splash {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/TREMBLANT_SF_interior_autumn_LR.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.splashTitle {
    width: 100%;
    display: flex;
    user-select: none;
    background-color: var(--dark);
}

.logo {
    max-height: 85px;
    width: 50%;
    max-width: 600px;
    margin: 42.5px auto;
}

.splashContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: var(--light);
    text-shadow: 0 0 30px black;
    font-family: "independant";
    text-transform: capitalize;
    user-select: none;
    padding-bottom: 5rem;
}

.arrow {
    border: solid var(--dark);
    border-width: 0 .5rem .5rem 0;
    display: inline-block;
    padding: 1.5rem;
    transition: all .2s ease-in-out;
    user-select: none;
}

.down {
    animation: bouncing infinite 2s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}

.info {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/HDT_aerialshot_mood2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.info .content{
    width: 90%;
    height: 80%;
    background: var(--light-90);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,.5);
    margin: auto;
    border-radius: 5px;
}

.splashContent .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.splashContent .content span{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    background: linear-gradient(90deg,#00051400, var(--dark),var(--dark), #00051400);

} 

.info span{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
    font-family: "independant";
    color: var(--dark);
    user-select: none;
}

.subHeading{
    font-size: 1.5rem;
    font-weight: 600;
}

.mt-2{
  margin-top: 2rem;  
  font-family: "ginger"; 
}


@media only screen and (max-width: 900px) {
    .info{
    }


    .info .content{
    
    }
}